{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses | Sikh Study Circle Gurmukhi School</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.min.css' %}" rel="stylesheet">    
    <style nonce="{{ request.csp_nonce }}">
body {
    font-family: 'Mukta', sans-serif;
    background-color: #f2f3f4;
    color: #000000;
    padding-bottom: 60px; /* Space for the fixed bottom nav */
    margin: 0;
    overflow-x: hidden;
}

.header-custom {
    background-color: #FFC107;
    color: #000;
    font-weight: 600;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-custom .navbar-toggler {
    border: none;
    color: #000;
}

.header-custom .navbar-brand {
    font-size: 1.5rem;
    color: #000;
}

.content {
    padding: 70px 20px 20px; /* Space for the fixed header and bottom nav */
    overflow-y: auto;
}

.course-card {
    margin-bottom: 20px;
}

.course-card .card {
    border: 1px solid #343a40;
    border-radius: 10px;
}

.course-card .card-body {
    background-color: #fffbe6;
    color: #343a40;
}

.course-card .btn-primary {
    background-color: #343a40 !important;
    border: none;
    color: #000;
    font-weight: 600;
}



.bottom-nav {
            background-color: #343a40;
            position: fixed;
            width: 100%;
            bottom: 0;
            height: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            z-index: 1000;
        }

        .bottom-nav a {
            color: #ffffff;
            text-align: center;
            font-size: 1rem; /* Adjust font size for better readability */
            padding: 5px 0;
        }

        .bottom-nav a.active {
            color: #FFC107;
        }




.modal-header {
    background-color: #FFC107;
    color: #000;
}

.modal-footer .btn-primary {
    background-color: #FFC107;
    border: none;
}

.btn-primary:hover,
.btn-secondary-custom:hover {
    background-color: #e0a800;
}

.btn-secondary-custom {
    background-color: #6c757d !important;
    border: none;
    color: #fff;
    font-weight: 600;
}

.btn-secondary-custom:hover {
    background-color: #5a6268 !important;
}



    </style>
</head>
<body>
    <!-- Header for mobile app view -->
    <header class="header-custom">
        <a class="navbar-brand" href="#">
            <span class="fs-4 logo">ੴ</span> {{ user.usertype }} Portal
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
    </header>
    <div class="content content-expanded">
        <div class="card section-card">
            <div class="card-header section-card-header">
                {{ folder.Title }}
                {% if user.is_superuser and user.usertype == 'Teacher' %}
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createAssignmentModal"><i class="bi bi-clipboard-plus"></i> Add Assignment</button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#uploadFileModal"><i class="bi bi-file-earmark-plus"></i> Add File</button>
                </div>
                {%endif%}
            </div>
            <div class="card-body section-card-body">
                <table class="file-system-table table table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if folder.Files.all%}
                        {% for file in folder.Files.all %}
                        <tr class="file-row">
                            <td class="folder-level-1"><a href="#" class="file"><i class="bi bi-file-earmark"></i> {{file.file}}</a></td>
                            <td>
                                <a href="{% url 'viewMobileContentUpload' file.id %}" class="btn btn-primary">View</a>
                                {% if user.is_superuser and user.usertype == 'Teacher' %}
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteFileModal{{file.id}}">Delete</button>
                                {%endif%}
                            </td>
                        </tr>
    
                        <!-- Modal for viewing file -->
                        <div class="modal fade" id="viewFileModal" tabindex="-1" aria-labelledby="viewFileModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="viewFileModalLabel">View File</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="fileContent"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <a id="downloadFileButton" href="#" class="btn btn-primary" download>Download</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        {% if user.is_superuser and user.usertype == 'Teacher' %}
                        <!-- Modal for deleting file -->
                        <div class="modal fade" id="deleteFileModal{{file.id}}" tabindex="-1" aria-labelledby="deleteFileModalLabel{{file.id}}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteFileModalLabel{{file.id}}">Delete File: {{file.file}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this file?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="{% url 'delete_file' file.id section_id folder.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {% endfor %}
                        {% endif %}
                        {% if folder.Assignments.all %}
                        {% for assignment in folder.Assignments.all %}
                        <tr class="file-row">
                            <td class="folder-level-1"><a href="" class="assignment"><i class="bi bi-clipboard-check"></i> {{assignment.title}}</a></td>
                            <td>
                                <a href="{% url 'viewAssignment' section_id folder.id assignment.id %}" class="btn btn-primary">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    {% if user.is_superuser and user.usertype == 'Teacher' %}
    <!-- Modal for creating assignments -->
    <div class="modal fade" id="createAssignmentModal" tabindex="-1" aria-labelledby="createAssignmentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createAssignmentModalLabel">Create Assignment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createAssignmentForm" action="{% url 'createAssignment' section_id folder.id %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="assignmentTitle" class="form-label">Title</label>
                            <input type="text" class="form-control" id="assignmentTitle" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="assignmentDescription" class="form-label">Description</label>
                            <textarea class="form-control" id="assignmentDescription" name="description" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="assignmentDueDate" class="form-label">Due Date</label>
                            <input type="date" class="form-control" id="assignmentDueDate" name="due_date" required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create Assignment</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal for uploading files -->
    <div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFileModalLabel">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'uploadFile' section_id folder.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    


    <!-- Create Course Modal -->
    <div class="modal fade" id="createCourseModal" tabindex="-1" aria-labelledby="createCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCourseModalLabel">Create Course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createCourseForm" action="{% url 'courseAdd' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="courseTitle" class="form-label">Course Name</label>
                            <input type="text" class="form-control" id="courseTitle" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="courseDescription" class="form-label">Course Description</label>
                            <textarea class="form-control" id="courseDescription" name="description" rows="3" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="bottom-nav">
        <a href="{% url 'courses' %}" class="nav-link active"><i class="bi bi-book"></i><br>Courses</a>
        {% if course.Syllabus %}
        <a href="{% url 'view_syllabus' course.id %}" class="nav-link"><i class="bi bi-journal-text"></i><br>Syllabus</a>
        {%endif%}
        <a href="{% url 'attendance' course.id %}" class="nav-link"><i class="bi bi-calendar-check"></i><br>Attendance</a>
        <a href="{%url 'grades' course.id %}" class="nav-link"><i class="bi bi-bar-chart-line"></i><br>Grades</a>
        {%if request.user.is_superuser and request.user.usertype == "Teacher" %}
        <a href="{% url 'students' course.id %}" class="nav-link"><i class="bi bi-people"></i><br>Students</a>
        {%endif%}
    </nav>
    <script src="{%static 'js/bootstrap.bundle.min.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <script nonce="{{ request.csp_nonce }}">
        document.querySelector('.navbar-toggler').addEventListener('click', function () {
            document.querySelector('#sidebarMenu').classList.toggle('show');
        });
    </script>
</body>
</html>
